{
"siteTitle": "Pinochle",
"siteURL": "localhost:5000",
"postgresDBName": "pinochle",
"postgresPort": "5432",
"postgresDBLocation": "database",
"postgresLocale": "C.UTF-8",
"postgresEncoding": "UTF8",
"postgresUsername": "pinochleuser",
"headerBar": {
    "titleTextSize": "3em",
    "titleTextColor": "#ff3e00",
    "titleTextHoverColor": "#ff3e00",
    "topBarBackColor": "#cccccc",
    "titleBold": true,
    "titleAdditionalStyle": ""
    },
"JWT_secret_key": null,
"starting_skill": 1600
}

